[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/Apra-Labs/vcpkg
[submodule ".\\thirdparty\\gstreamer_1.16"]
	path = .\\thirdparty\\gstreamer_1.16
	url = https://gitlab.freedesktop.org/gstreamer/gst-build
